* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 2.4rem;
}

/* Button */
.btn--active {
    border-radius: 42px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--active:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: ease 0.5s;
}